@using Microsoft.AspNetCore.Components.Web
@page "/counter"
@inject IJSRuntime JS

<PageTitle>Countdown to 2026</PageTitle>

<h1>🚀 2026 Countdown 🚀</h1>
<hr>
<div class="countdown-container">
    <p class="countdown-text">@countDown</p>
</div>

@code {
    private DateTime targetDate = new DateTime(2026, 1, 1, 0, 0, 0);
    private string countDown = string.Empty;
    private System.Timers.Timer? timer;

    protected override void OnInitialized()
    {
        UpdateCountdown();
        timer = new System.Timers.Timer(1000);
        timer.Elapsed += (sender, e) => {
            UpdateCountdown();
            InvokeAsync(StateHasChanged);
        };
        timer.Start();
    }

    private void UpdateCountdown()
    {
        TimeSpan t = targetDate - DateTime.Now;
        countDown = $"{t.Days} Days : {t.Hours} Hours : {t.Minutes} Minutes : {t.Seconds} Seconds";
    }

    public void Dispose()
    {
        timer?.Dispose();
    }
}
