@using Microsoft.AspNetCore.Components.Web
@page "/counter"
@inject IJSRuntime JS

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<hr>
<p class="yearTitle">TO 2026</p>
<p class="yearText">@countDown</p>

@code {
    private int currentCount = 0;
    private DateTime targetDate = new DateTime(2026, 1, 1, 0, 0, 0);
    private string countDown = string.Empty;
    private System.Timers.Timer ?timer;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override void OnInitialized()
    {
        UpdateCountdown();
        timer = new System.Timers.Timer(1000);
        timer.Elapsed += (sender, e) => {
            UpdateCountdown();
            InvokeAsync(StateHasChanged);
        };
        timer.Start();
    }

    private void UpdateCountdown()
    {
        TimeSpan t = targetDate - DateTime.Now;
        countDown = $"{t.Days} Days {t.Hours} Hours {t.Minutes} Minutes {t.Seconds} Seconds";
    }

    public void Dispose()
    {
        timer?.Dispose();
    }
}
