body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.content-container {
    max-width: 90%;
    margin: 0 auto;
}

.h1Text {
    text-align: center;
}

.aboutSubjects {
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.6;
    color: black;
    padding-top: 10px;
}

.descriptionRow {
    background-color: #f8f9fa;
    color: #555;
}
