@page "/game"

<h1>Game</h1>
<hr>

<!-- Main table for game -->
<div class="game-container">
    <table>
        @for (int i = 0; i < 4; i++)
        {
            <tr>
                @for (int j = 0; j < 4; j++)
                {
                    <td class="@((i == 0 && j == 0) ? "gray-background" : (i == 0 || j == 0) ? "blue-background" : "")"></td>
                }
            </tr>
        }
    </table>
</div>

<!-- Buttons for putting numbers into the table -->
<div class="buttons-number">
    @for(int i = 1; i < 10; i++)
    {
        <button>@i</button>
    }
</div>

<hr>
<!-- Buttons for new game and reset -->
<div class="buttons">
    <button>New Game</button>
    <button>Reset</button>
</div>
