@page "/"

<PageTitle>Index</PageTitle>

<style>
    body {
        background-color: #f1f1f1;
    }
</style>

<div class="container">
    <h1><u>Profile</u></h1>
    &emsp;
    <h2>About me</h2>
    <p class="aboutMe">
        My name is Slavomír Svorada.<br>
        I am a recent graduate from the Faculty of Information Technology in Brno,
        aiming to acquire new skills and experiences in the field of IT. My academic
        background involved numerous group projects, where I developed strong
        teamwork, effective communication, and collaboration skills. I have experience
        in meeting deadlines, supporting my peers, and contributing my own skills and
        knowledge to the team. Additionally, I excel at working under pressure and
        have a keen interest and eagerness to learn new things. Currently, I am seeking
        opportunities to expand my knowledge and experience in software
        engineering, graphic design, and testing.
    </p>
    <hr>
    <h2>Education</h2>
    <ul class="educationList">
        <li>
            2019-2022<br>
            &emsp;Brno, Czech Republic<br>
            &emsp;Brno University of Technology - Faculty of Information Technology, Software Engineering<br>

        </li>
        <br>
        <li>
            2022-2024<br>
            &emsp;Brno, Czech Republic<br>
            &emsp;Brno University of Technology - Faculty of Information Technology
        </li>
    </ul>
    <hr>
    <h2>Technical skills</h2>
    <div class="listContainer">
        <ul class="two-column-list">
            <li>C#</li>
            <li>C++</li>
            <li>Python</li>
            <li>Java</li>
            <li>SQL</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Windows</li>
            <li>Linux</li>
            <li>Git</li>
        </ul>
    </div>
    <hr>
    <h2>Language</h2>
    <ul class="languageList">
        <li>English</li>
        <li>Slovak</li>
    </ul>
</div>

@*@<SurveyPrompt Title="How is Blazor working for you?" />*@
