@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome</h1>
<p>My name is Slavomír Svorada<br>
I am recent graduate from University Faculty of Information Technology in Brno.</p>

This is web application about me.

@*@<SurveyPrompt Title="How is Blazor working for you?" />*@

