@using Microsoft.AspNetCore.Components.Web
@page "/"

<PageTitle>Home</PageTitle>

<style>
    body {
        background-color: #f1f1f1;
    }
    .aboutMeLinks {
        display: none;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1>PROFILE</h1>

<div class="container">
    <h2><u>About me</u><span class="fa fa-user-o" title="Svormen" style="font-size:23px" aria-hidden="true"></span></h2>
    <div class="columnMe">
        <p class="aboutMe">
            My name is Slavomír Svorada.<br>
            I am a recent graduate from the University of Technology Faculty of Information Technology in Brno, Software
            Engineering.
            I am aiming to acquire new skills and experiences in the field of IT.
            My academic background involved numerous group projects, where I developed strong
            teamwork, effective communication, and collaboration skills. I have experience
            in meeting deadlines, supporting my peers, and contributing my own skills and
            knowledge to the team. Additionally, I excel at working under pressure and
            have a keen interest and eagerness to learn new things. Currently, I am seeking
            opportunities to expand my knowledge and experience in software
            engineering and testing.
        </p>
        <p class="myPhoto">
            <img src="sample-data/photo.jpeg" alt="me" width="23%" height="23%">
        </p>
    </div>
    <br>

    <button id="showLinksButton" onclick="myFunction()">Show Links</button>

    <p id="aboutMeLinks" class="aboutMeLinks">
        <a href="https://github.com/Svormen" target="_blank">GitHub</a>
        <br>
        <a href="https://www.linkedin.com/in/slavom%C3%ADr-svorada-b6678022b/" target="_blank">LinkedIn</a>
    </p>

    <script>
        function myFunction() {
            var x = document.getElementById("aboutMeLinks");
            x.style.display = (x.style.display === "block") ? "none" : "block";
            if (x.style.display === "block") {
                document.getElementById("showLinksButton").innerHTML = "Hide Links";
            } else {
                document.getElementById("showLinksButton").innerHTML = "Show Links";
            }
        }
    </script>

</div>

<div class="container">
    <h2><u>Education</u><span class="fa fa-graduation-cap" title="Education" style="font-size:23px"
            aria-hidden="true"></span></h2>
    <ul class="educationList">
        <li>
            2019-2022<br>
            &emsp;Brno, Czech Republic<br>
            &emsp;Brno University of Technology - Faculty of Information Technology, Software Engineering<br>
        </li>
        <br>
        <li>
            2022-2024<br>
            &emsp;Brno, Czech Republic<br>
            &emsp;Brno University of Technology - Faculty of Information Technology
        </li>
    </ul>
</div>

<div class="container">
    <h2><u>Technical skills</u><span class="fa fa-code" title="Skills" style="font-size:23px" aria-hidden="true"></span>
    </h2>
    <div class="listContainer">
        <ul class="two-column-list">
            <li>C#</li>
            <li>C++</li>
            <li>Python</li>
            <li>Java</li>
            <li>SQL</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Windows</li>
            <li>Linux</li>
            <li>Git</li>
        </ul>
    </div>
</div>

<div class="container">
    <h2><u>Language</u><span class="fa fa-language" title="Language" style="font-size:23px" aria-hidden="true"></span>
    </h2>
    <ul class="languageList">
        <li>English</li>
        <li>Slovak</li>
    </ul>
</div>

<div class="container">
    <h2><u>General skills</u><span class="fa fa-check" title="Skills" style="font-size:23px" aria-hidden="true"></span>
    </h2>
    <ul class="genSkillsList">
        <li>Reliability</li>
        <li>Adaptability</li>
        <li>Ambitious</li>
        <li>Collaboration</li>
        <li>Responsibility</li>
        <li>Time management</li>
        <li>Analytical thinking</li>
    </ul>
</div>

<div class="container">
    <h2><u>Interests</u></h2>
    <p class="interestList">
        <span class="fa fa-soccer-ball-o" title="Football" style="font-size:23px"
            aria-hidden="true"></span>Football<br />
        <span class="fa fa-bicycle" title="Bike" style="font-size:17.5px" aria-hidden="true"></span>Bike<br />
        <span class="fa fa-flag-checkered" title="Flag" style="font-size:23px"
            aria-hidden="true"></span>Motorsports<br />
        <span class="fa fa-plane" title="Plane" style="font-size:29px" aria-hidden="true"></span>Aviation
    </p>
</div>

<div class="container">
    <h2><u>Contact</u></h2>
    <p class="contactInfo">
        <span class="oi oi-tablet" title="phone" aria-hidden="true"></span>+421 915 381 981<br />
        <span class="oi oi-envelope-closed" title="email" aria-hidden="true"></span>svoradaslavo@gmail.com
    </p>
</div>

@*@<SurveyPrompt Title="How is Blazor working for you?" />*@
