@page "/"

<PageTitle>Index</PageTitle>

<style>
    body {
        background-color: #f1f1f1;
    }
</style>

<div class="container">
    <h1>Welcome</h1>
    <hr>
    <p>
        My name is Slavomír Svorada<br>
        I am a recent graduate from University Faculty of Information Technology in Brno.<br>
        This is a web application about me.
    </p>
</div>

@*@<SurveyPrompt Title="How is Blazor working for you?" />*@

