body {
    font-family: 'Roboto', sans-serif;
    background: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    /*background: #ffffff;*/
    background: linear-gradient(90deg, #ffffff, #c0c0c0);
    padding: 40px;
    padding-top: 20px;
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
    margin-bottom: 20px;
}

.columnMe {
    display: grid;
    grid-template-columns: 2.5fr 0.5fr; /* Text zaberá 2/3 a fotka 1/3 */
    gap: 20px; /* Medzera medzi textom a fotkou */
    align-items: center; /* Zarovnanie obsahu na stred vertikálne */
}

p.aboutMe {
    font-size: 1.1rem;
    line-height: 1.6;
    color: black;
    margin: 10px 0;
    padding: 10px;
}

.myPhoto img {
    width: 100%; /* Fotka zaberie celý svoj stĺpec */
    height: auto; /* Zachovanie pomeru strán */
    border-radius: 10px; /* Jemne zaoblené rohy */
    max-width: 200px; /* Maximálna šírka fotky */
    min-width: 200px; /* Minimálna šírka fotky */
    margin: 0 auto; /* Centrovanie fotky, ak je menšia */
}

@media (max-width: 1280px) {
    .columnMe {
        grid-template-columns: 1fr; /* Jeden stĺpec */
        gap: 10px; /* Menšia medzera */
        justify-items: center; /* Centrovanie obsahu */
    }

    .myPhoto img {
        max-width: 200px; /* Menšia fotka na mobiloch */
    }
}

.container:hover {
    box-shadow: 0 12px 200px rgba(0, 0, 0, 0.1);
}


h2 {
    font-size: 30px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: black;
    margin-bottom: 20px;
}

.container:hover h1 {
    color: #2c3e50;
}

.fa-user-o {
    margin-left: 10px;
    margin-top: 10px;
}

.fa-graduation-cap {
    margin-left: 10px;
    margin-top: 10px;
}

.fa-code {
    margin-left: 10px;
    margin-top: 10px;
}

.fa-check {
    margin-left: 10px;
    margin-top: 10px;
}

.fa-language {
    margin-left: 10px;
    margin-top: 10px;
}

.educationList {
    text-align: left;
    list-style-position: inside;
}

.educationList li {
    padding-top: 10px;
}

.two-column-list {
    display: inline-block;
    column-count: 2;
    column-gap: 50px;
    list-style-position: inside;
}

.two-column-list li {
    padding-top: 10px;
}

.languageList li {
    list-style-position: inside;
    padding-top: 10px;
}

.genSkillsList {
    display: inline-block;
    column-count: 2;
    column-gap: 50px;
    list-style-position: inside;
}

.genSkillsList li {
    padding-top: 10px;
}

.interestList {
    line-height: 2.5;
}

.fa {
    margin-right: 10px;
    vertical-align: text-top;
}

p.interestList {
    margin: 10px 0;
    padding-top: 10px;
    padding-left: 30px;
}

.contactInfo {
    line-height: 2.5;
}

p.contactInfo {
    margin: 10px 0;
    padding-top: 10px;
    padding-left: 30px;
}
.oi {
    margin-right: 10px;
    font-size: 1.5rem;
    vertical-align: text-top;
    top: -1px;
}

.oi-tablet {
    padding-left: 1.5px;
}
