body {
    font-family: 'Roboto', sans-serif;
    background: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    /*background: #ffffff;*/
    background: linear-gradient(90deg, #ffffff, #c0c0c0);
    padding: 40px;
    padding-top: 20px;
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media (max-width: 1800px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 100%;
    }
}

.columnMe {
    display: grid;
    grid-template-columns: 2.5fr 0.5fr;
    gap: 20px;
    align-items: center;
}

p.aboutMe {
    font-size: 1.1rem;
    line-height: 1.6;
    color: black;
    margin: 10px 0;
    padding: 10px;
}

p.aboutMeLinks {
    font-size: 1.1rem;
    line-height: 1.6;
    color: black;
    padding: 10px;
}

.buttonLinks {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3b80ee;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}

.buttonLinks:hover {
    background: linear-gradient(180deg, #032c7e, #3b80ee);
}

.buttonLinks:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }

.myPhoto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-width: 200px;
    min-width: 200px;
    margin: 0 auto;
}

@media (max-width: 1280px) {
    .columnMe {
        grid-template-columns: 1fr;
        gap: 10px;
        justify-items: center;
    }

    .myPhoto img {
        max-width: 200px;
    }
}

.container:hover {
    box-shadow: 0 12px 200px rgba(0, 0, 0, 0.1);
}


h2 {
    font-size: 30px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: black;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.container:hover h1 {
    color: #2c3e50;
}

.fa-user-o {
    margin-left: 10px;
    margin-top: 10px;
}

.fa-graduation-cap {
    margin-left: 10px;
    margin-top: 10px;
}

.fa-code {
    margin-left: 10px;
    margin-top: 10px;
}

.fa-check {
    margin-left: 10px;
    margin-top: 10px;
}

.fa-language {
    margin-left: 10px;
    margin-top: 10px;
}

.educationList {
    text-align: left;
    list-style-position: inside;
}

.educationList li {
    padding-top: 10px;
}

.two-column-list {
    display: inline-block;
    column-count: 2;
    column-gap: 50px;
    list-style-position: inside;
}

.two-column-list li {
    padding-top: 10px;
}

.languageList li {
    list-style-position: inside;
    padding-top: 10px;
}

.genSkillsList {
    display: inline-block;
    column-count: 2;
    column-gap: 50px;
    list-style-position: inside;
}

.genSkillsList li {
    padding-top: 10px;
}

.interestList {
    line-height: 2.5;
}

.fa {
    margin-right: 10px;
    vertical-align: text-top;
}

p.interestList {
    margin: 10px 0;
    padding-top: 10px;
    padding-left: 30px;
}

.contactInfo {
    line-height: 2.5;
}

p.contactInfo {
    margin: 10px 0;
    padding-top: 10px;
    padding-left: 30px;
}

.oi {
    margin-right: 10px;
    font-size: 1.5rem;
    vertical-align: text-top;
    top: -1px;
}

.oi-tablet {
    padding-left: 1.5px;
}