.titleText {
    text-align: center;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    max-width: 90%;
    margin-inline: auto;
}

.project-box {
    width: 24%;
    height: 200px;
    background-color: #3b80ee;
    color: white;
    border-radius: 23px;
    #transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 20px;
}

.project-box.active {
    flex: 1 1 100%;
    max-width: 100%;
    height: auto;
    background-color: #82b9f7;
    order: -1;
    padding: 40px;
}

.project-box:not(.active) {
    #opacity: 0.6;
    #filter: blur(1px);
    #transition: all 0.3s ease-in-out;
}

.project-box:not(.active):hover {
    opacity: 1;
    background-color: #032c7e;
    #filter: blur(0px);
}

.project-header {
    margin-bottom: 15px;
    font-size: 1rem;
    color: white;
}

.description {
    color: black;
    font-size: 2.5rem;
}

.project-box.active .project-header {
    color: black;
}

.project-box p {
    line-height: 1.6;
    font-size: 1rem;
}
