@page "/projects"

<PageTitle>My Projects</PageTitle>

<style>
    body {
        background-color: #f1f1f1;
    }
</style>

<h1 class="titleText">SCHOOL PROJECTS</h1>
<hr>
&emsp;

<div class="projects-container @(IsAnyProjectActive ? "active" : "")">
    @foreach (var project in MyProjects)
    {
        <div class="project-box @(project.ShowDetails ? "active" : "")" @onclick="() => ToggleDetails(project)">
            <div class="project-header">
                <h2>@project.Title</h2>
            </div>
            @if (project.ShowDetails)
            {
                <hr>
                <p>@project.Description</p>
            }
        </div>
    }
</div>

@code {

    private List<Project> MyProjects = new()
    {
        new Project { Title = "Master Thesis", Description = "This work focuses on the historical development " +
            "and current trends in the field of flight data visualization in the cockpit. Based on this analysis, " +
            "a modern flight data visualization is proposed, which is subsequently implemented in a virtual " +
            "reality-supported aviation simulation environment. The aim of the work was to create flight data " +
            "visualization for Helmet-Mounted Display for aircraft capable of vertical takeoff and landing. " +
            "The primary goal is to enhance the efficiency and safety of aviation through innovative visual means." },
        new Project { Title = "Bachelor Thesis", Description = "Description of Project 2" },
        new Project { Title = "Another project", Description = "Description of Project 3" }
    };

    private bool IsAnyProjectActive => MyProjects.Any(p => p.ShowDetails);

    private void ToggleDetails(Project project)
    {
        if (project.ShowDetails)
        {
            project.ShowDetails = false;
        }
        else
        {
            foreach (var proj in MyProjects)
            {
                proj.ShowDetails = false;
            }
            project.ShowDetails = true;
        }
    }

    private class Project
    {
        public string Title { get; set; }
        public string Description { get; set; }
        public bool ShowDetails { get; set; } = false;
    }
}
