.titleText {
    text-align: center;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    max-width: 90%;
    margin-inline: auto;
}

.project-box {
    width: 300px;
    height: 244px;
    background-color: #3a77e3;
    color: white;
    border-radius: 23px;
    border: 3px solid black;
    /*box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.7);
    #transition: all 0.5s ease-in-out; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 20px;
}

.project-box:not(.active):nth-child(1):hover {
    background-color: #ff6f61;
    box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

.project-box:not(.active):nth-child(2):hover {
    background-color: #6a5acd;
    box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

.project-box:not(.active):nth-child(3):hover {
    background-color: #48d1cc;
    box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

.project-box:not(.active):nth-child(4):hover {
    background-color: #ffa500;
    box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

.project-box:not(.active):nth-child(5):hover {
    background-color: #32cd32;
    box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}


.project-box.active {
    flex: 1 1 100%;
    max-width: 100%;
    height: auto;  
    background-color: #82b9f7;
    order: -1;
    padding: 40px;
    box-shadow: 0 10px 7px rgba(0, 0, 0, 0.5);
}

.project-box:not(.active) {
    /*#opacity: 0.6;
    #filter: blur(1px);
    #transition: all 0.3s ease-in-out; */
}

.project-header {
    color: white;    
}

.description {
    color: black;
    font-size: large;
}

.project-box.active .project-header {
    color: black;
}

.project-box p {
    line-height: 1.6;
}
