.yearTitle[b-fa7bvjld2f] {
    font-size: 1.5em;
    font-weight: bold;
    color: #252525;
    text-align: center;
}

.yearText[b-fa7bvjld2f] {
    font-size: 1.2em;
    color: #252525;
    text-align: center;
}