body[b-7zu5p4p7l4] {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.content-container[b-7zu5p4p7l4] {
    max-width: 90%;
    margin: 0 auto;
}

.h1Text[b-7zu5p4p7l4] {
    text-align: center;
}

.aboutSubjects[b-7zu5p4p7l4] {
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.6;
    color: black;
    padding-top: 10px;
}

.descriptionRow[b-7zu5p4p7l4] {
    background-color: #f8f9fa;
    color: #555;
}
