body[b-cawgfizwi4] {
    font-family: 'Roboto', sans-serif;
    background: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container[b-cawgfizwi4] {
    background: #ffffff;
    padding: 40px;
    padding-top: 20px;
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
    margin-bottom: 20px;
}

.container:hover[b-cawgfizwi4] {
    transform: translateY(-5px);
    box-shadow: 0 12px 200px rgba(0, 0, 0, 0.1);
}

h1[b-cawgfizwi4] {
    text-align: center;
    font-size: 2.5rem;
    color: black;
    margin-bottom: 20px;
}

.container:hover h1[b-cawgfizwi4] {
    color: #2c3e50;
    #font-weight: bold;
}

p.aboutMe[b-cawgfizwi4] {
    font-size: 1.1rem;
    line-height: 1.6;
    color: black;
    margin: 10px 0;
    padding-top: 10px;
    padding-left: 30px;
    max-width: 98%;
}

.educationList[b-cawgfizwi4] {
    text-align: left;
    list-style-position: inside;
}

.educationList li[b-cawgfizwi4] {
    padding-top: 10px;
}

.two-column-list[b-cawgfizwi4] {
    display: inline-block;
    column-count: 2;
    column-gap: 50px;
    list-style-position: inside;
}

.two-column-list li[b-cawgfizwi4] {
    padding-top: 10px;
}

.languageList li[b-cawgfizwi4] {
    list-style-position: inside;
    padding-top: 10px;
}

.genSkillsList[b-cawgfizwi4] {
    display: inline-block;
    column-count: 2;
    column-gap: 50px;
    list-style-position: inside;
}

.genSkillsList li[b-cawgfizwi4] {
    padding-top: 10px;
}

.interestList li[b-cawgfizwi4] {
    list-style-position: inside;
    padding-top: 10px;
}

p.contactInfo[b-cawgfizwi4] {
    margin: 10px 0;
    padding-top: 10px;
    padding-left: 30px;
}
